body { background-color:#181825; color:#cdd6f4; font-family: "Open Sans", sans-serif}
pre { background-color:#11111b; font-family: Inconsolata, monospace}
a:link { color:#89b4fa }
a:visited { color:#b4befe }
ol ol { list-style-type: lower-alpha }
.todo { color:#f38ba8 }
img { max-width: 100%; height: auto; object-fit: contain }
